{% extends 'orders/header.html' %} {% block content %}
<div class="container">
    <div class="content my-3">
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="row justify-content-center">
                    <h3>Our Shop Hours</h3>
                </div>
                <div class="row justify-content-center">
                    <p>Saturday-Sunday 10AM - 3AM</p>
                </div>
                <div class="row justify-content-center">

                    <p>Monday - Friday 24 Hours</p>

                </div>

                <hr>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <p>The time it takes for your order to be ready  after you enter it online can vary, 
                            but on average it takes about 10-20 minutes for a carryout order and 30-45 minutes for a delivery order</p>

                        <p>Keep in mind that the actual time may be longer during peak hours or if the restaurant is particularly busy.
                             It's always a good idea to check the estimated delivery or pickup time when you place your order online to get a more accurate estimate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}